{% extends 'base.html.twig' %}

{% block title %}Registrierung{% endblock %}

{% block body %}
    <h1>Registrierung</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Passwort'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Registrieren</button>
    {{ form_end(registrationForm) }}
{% endblock %}
