{% extends 'base.html.twig' %}

{% block body %}
    <h1> Rezept bearbeiten </h1>
    <div class="tile recipe-edit">
        <div class="tile-header">
            <h2>{{ recipe.name }}</h2>
        </div>
        
        <form method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="title" name="name" value="{{ recipe.name }}">
            </div>
            <div class="form-group">
                <label for="description">Beschreibung</label>
                <textarea class="form-control" id="description" name="description">{{ recipe.description }}</textarea>
            </div>
            <div class="form-group">
                <label for="ingredients">Zutaten</label>
                {% for ingredient in recipe.ingredients %}
                <div class="flex-row">
                    <input type="text" class="form-control" id="ingredient" name="ingredient-name" value="{{ ingredient.name }}">

                    <input type="text" class="form-control" id="ingredient" name="ingredient-amount" value="{{ ingredient.amount }}">

                    <input type="text" class="form-control" id="ingredient" name="ingredient-amount-type" value="{{ ingredient.amountType }}">
                </div>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="instructions">Anleitung</label>
                <textarea class="form-control" id="instructions" name="instructions">{{ recipe.instructions }}</textarea>
            </div>
        <button type="submit" class="btn btn-success" action="saveRecipe" id="saveRecipe">Rezept speichern</button>
        </form>
    </div>
{{ encore_entry_script_tags('saveRecipe') }}
{% endblock %}